### exclude database files ###
# *.db
# *.pkl

### Flask ###
instance/
.webassets-cache

### VSCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

### Conda ###
default.profraw

### Python ###
__pycache__
*.pyc